body {
  -webkit-perspective: 500px;
  /* Chrome, Safari, Opera */
  perspective: 500px;
  font-family: 'Satisfy', cursive;
  background: url(../img/mainFont/1.jpg);
}
body a {
  color: black;
}
body a:hover {
  color: black;
  text-decoration: none;
}
body .container-fluid {
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
}
body .container-fluid #rightMenu {
  z-index: 2;
  transform: rotateY(45deg);
}
body .container-fluid #rightMenu .img {
  opacity: 0.6;
}
body .container-fluid #rightMenu .img img {
  border: 3px solid #cee7fd;
  border-radius: 30px;
}
@keyframes rotate {
  50% {
    transform: rotateX(-15deg);
  }
}
body #earth {
  position: relative;
  z-index: 1;
  opacity: 0.7;
  transform-style: preserve-3d;
  animation: earth 20s infinite linear;
}
@keyframes earth {
  30% {
    transform: rotateZ(15deg);
  }
}
body .top-right-menu {
  margin: 25px 25px 25px 0;
  float: right;
  background: #cee7fd;
  opacity: 0.8;
  color: black;
  border-radius: 5px;
  z-index: 3;
  padding: 15px;
}
body .search:hover {
  background: #8c8c8c;
  color: silver;
  border: 1px dashed black;
}
body .search:active {
  background: #6f6f6f;
}
body .middle {
  background: silver;
  color: black;
  border-radius: 5px;
  z-index: 3;
  position: absolute;
  padding: 15px;
}
body .middle:hover {
  background: #8c8c8c;
  color: silver;
  border: 1px dashed black;
}
body .middle:active {
  background: #6f6f6f;
}
